.content {
    width: 200px;
    border-width: 2px;
    border-color: #eee;
    border-style: solid;
    border-radius: 5px;
    padding: 0.5em 2em 0.5em 2em;
    max-width: 750px;
}

.center {
  margin: auto;
  width: 50%;
}
